#add-btn {
    background: orange;
    color: white;
    border: none;
}

#increase-btn {
    background: orange;
    color: white;
    border: none;
}

#decrease-btn {
    background: orange;
    color: white;
    border: none;
}

#remove-btn {
    background: orange;
    color: white;
    border: none;
}